:root {
    /* variables here */
    /* colors */
    --clr-dark-primary: #1E1E1E;
    --clr-dark-secondary:#252525;
    --clr-dark-tertiaty:#2D2D2D;
    --clr-dark-quartery:#333333;
    --clr-dark-quintery:#858585;

    /* borders */
    --bd-radius:7px;
    /* font */
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-dark-primary);
    color:var(--clr-dark-quintery);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

img {
    display:block;
    width:100%;
    max-width:100%;
    height:100%;
    object-fit: cover;
}

input {
    width:100%;
    padding:0.5rem 1rem;
    border:none;
    border-radius: var(--bd-radius);
    -webkit-border-radius: var(--bd-radius);
    -moz-border-radius: var(--bd-radius);
    -ms-border-radius: var(--bd-radius);
    -o-border-radius: var(--bd-radius);
    font-size:18px;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
}

.sr-only {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px); /* 1 */
	-webkit-clip-path: inset(50%);
		clip-path: inset(50%);  /* 2 */
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;            /* 3 */
}

/* utility classes */

.flex {
    display:flex;
    gap: var(--gap, 1rem);
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

/* components */
.btn {
    padding:0.5rem 1rem;
    border:none;
    border-radius: var(--bd-radius);
    -webkit-border-radius: var(--bd-radius);
    -moz-border-radius: var(--bd-radius);
    -ms-border-radius: var(--bd-radius);
    -o-border-radius: var(--bd-radius);
    background-color: var(--clr-dark-quartery);
    color:var(--clr-dark-quintery);
    transition:0.2s;
    -webkit-transition:0.2s;
    -moz-transition:0.2s;
    -ms-transition:0.2s;
    -o-transition:0.2s;
}

.btn:hover {
    background-color: white;
    color:black;
}

input[type='checkbox'],
input[type='radio'] {
    display:none;
}

input[type='checkbox'] + label,
input[type='radio'] + label{
    cursor: pointer;
    padding:0.5rem;
    border:none;
    border-radius: var(--bd-radius);
    -webkit-border-radius: var(--bd-radius);
    -moz-border-radius: var(--bd-radius);
    -ms-border-radius: var(--bd-radius);
    -o-border-radius: var(--bd-radius);
    transition:0.2s;
    -webkit-transition:0.2s;
    -moz-transition:0.2s;
    -ms-transition:0.2s;
    -o-transition:0.2s;
}

input[type='checkbox']:checked + label,
input[type='radio']:checked + label{
    background-color:rgb(49, 168, 49);
    color:white;
}

input[type='checkbox'] + label:hover,
input[type='radio'] + label:hover{
    color:white;
    background-color:var(--clr-dark-quartery);
}

header {
    padding:4rem 2rem;
}

.section {
    padding:2rem;
}


/* ------------ */
/* TASK SECTION */
/* ------------ */


#task-section {
    position:relative;
    background-color: var(--clr-dark-secondary);
    width:fit-content;
    min-width:40rem;
    border-radius: var(--bd-radius);
    transform:translateX(-100%);
    -webkit-transform:translateX(-100%);
    -moz-transform:translateX(-100%);
    -ms-transform:translateX(-100%);
    -o-transform:translateX(-100%);
    transition:0.2s;
    -webkit-transition:0.2s;
    -moz-transition:0.2s;
    -ms-transition:0.2s;
    -o-transition:0.2s;
    -webkit-border-radius: var(--bd-radius);
    -moz-border-radius: var(--bd-radius);
    -ms-border-radius: var(--bd-radius);
    -o-border-radius: var(--bd-radius);
}

#task-btn {
    position:absolute;
    top:0;
    right:0;
    height:100%;
    padding-inline:2rem;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}

#task-notification {
    position:absolute;
    top:0;
    right:0;
    transform:translateX(50%) translateY(-50%);
    width:30px;
    aspect-ratio: 1;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    -webkit-transform:translateX(50%) translateY(-50%);
    -moz-transform:translateX(50%) translateY(-50%);
    -ms-transform:translateX(50%) translateY(-50%);
    -o-transform:translateX(50%) translateY(-50%);
    background-color: red;
    color:white;
}

#task-section:hover #task-btn {
    opacity:0;
}
/* display section on btn hover */
#task-btn:hover + #task-section,
#task-section:hover{
    transform:translateX(0%);
    -webkit-transform:translateX(0%);
    -moz-transform:translateX(0%);
    -ms-transform:translateX(0%);
    -o-transform:translateX(0%);
}

.section-title,
.modal-title {
    text-transform: uppercase;
    color:white;
}

.section-content {
    max-height: 28rem;
    overflow-y: scroll;
}

#add-task-overlay {
    z-index:100;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:fit-content;
    background-color: var(--clr-dark-secondary);
    border-radius: var(--bd-radius);
    -webkit-border-radius: var(--bd-radius);
    -moz-border-radius: var(--bd-radius);
    -ms-border-radius: var(--bd-radius);
    -o-border-radius: var(--bd-radius);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    display: none;
}

.modal {
    padding:2rem;
}

.modal-header {
    justify-content: space-between;
}

.task-params > h4 {
    text-transform: uppercase;
    color:white;
}

.task-params div{
    flex-wrap: wrap;
}

.task-container {
    padding-block:2rem;
    align-items: flex-end;
    gap:2rem;
}

.task {
    position:relative;
    justify-content: space-between;
    align-items: center;
    padding-inline:1rem;
    min-height:3rem;
    width:90%;
    background-color: var(--clr-dark-quartery);
    border-radius: var(--bd-radius);
    -webkit-border-radius: var(--bd-radius);
    -moz-border-radius: var(--bd-radius);
    -ms-border-radius: var(--bd-radius);
    -o-border-radius: var(--bd-radius);
}

.badge {
    position:absolute;
    top:0;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    height:20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color:white;
    background-color: rgba(174, 0, 255, 0.3);
}

.high {
    background: linear-gradient(.25turn, rgba(255, 0, 0, 0.3), 5%,  var(--clr-dark-quartery));
    color:red;
    border:1px solid red;

}

.medium {
    background: linear-gradient(.25turn, rgba(255, 165, 0, 0.3), 5%,  var(--clr-dark-quartery));
    color:orange;
    border:1px solid orange;
}

.small {
    background: linear-gradient(.25turn, rgba(0, 149, 248, 0.3), 5%,  var(--clr-dark-quartery));
    color: rgb(0, 149, 248);
    border:1px solid rgb(0, 149, 248);
}

.done {
    background: linear-gradient(.25turn, rgba(0, 128, 0, 0.3), 5%,  var(--clr-dark-quartery));
    border:1px solid rgb(49, 168, 49);
    color:rgb(49, 168, 49);
}

.delete-task {
    position:absolute;
    left:-2rem;
    min-height: 3rem;
    color:white;
    font-size:14px;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
}

.delete-task:hover > * {
    color:red;
    transform:scale(1.2);
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
}

.task-tags {
    position:absolute;
    top:0;
    right:3rem;
    gap:0.5rem;
    align-items: center;
    transform: translateY(-75%);
    -webkit-transform: translateY(-75%);
    -moz-transform: translateY(-75%);
    -ms-transform: translateY(-75%);
    -o-transform: translateY(-75%);
    padding:0.2rem 1rem;
}

.tag {
    height:18px;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
}

.computer {
    background-image: url(./assets/icons/laptop-solid.svg);
}

.irl {
    background-image: url(./assets/icons/sun-solid.svg);
}

.code {
    background-image: url(./assets/icons/code-solid.svg);
}

.book {
    background-image: url(./assets/icons/book-solid.svg);
}

.sport {
    background-image: url(./assets/icons/dumbbell-solid.svg);
}

.need {
    background-image: url(./assets/icons/stethoscope-solid.svg);
}

.want {
    background-image: url(./assets/icons/heart-solid.svg);
}

.task-description {
    height:fit-content;
}

.task-infos {
    align-items: center;
}

.status-label {
    height:30px;
    width:30px;
    color:white;
}

.status-label:hover {
    transform:scale(1.2);
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
}